*{
    margin: 0;
    /* padding: 0; */
}
.header{
    background-color: rgba(236, 88, 120, 0.1);
    /* margin: 0 200px; */
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
.banner{
    display: flex;
    width: 1440px;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
}
.banner-greeting{
    padding: 20px;
    font-size: 70px;
}
.banner-description{
    padding: 20px;
}
img{
    height: 800px;
    width: 635px;
}
.featured{
    text-align: center;
    margin-top: 100px;
}
.featured-title{
    margin-bottom: 20px;
    
}
.featured-description{
    margin-bottom: 40px;
}
/* .flower{
    display: flex;
    align-items:end;
    margin: 350px 97px 47px 40px;
} */
/* 
.flower-title{
    font-size:4em;
    color: #272727;
    text-align: left;
    position: absolute;
   margin: 100px 200px;
   font-weight: 600;
    font-size: 45px;
} */
/* .flower-description{
    text-align: left;
    
    
}
.flower-image{
    align-items: end;
} */
.btn-primary{
    background-color: #E55473;
    border-radius: 5px;
    color: white;
    width: 179px;
    height: 64px;
    font-size: 20px;
    align-items: flex-start;
    
}

.img-1{
    width: 310px;
height: 428px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.img-2{
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.img-3{
    width: 310px;
height: 428px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.featured-text{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}